<!DOCTYPE HTML>
<html>
  <head>
  <body>

<form method="post" action="/pirates">
  <label for="pirate[name]">Pirate Name:</label>
  <input type="text" name="pirate[name]">
   <br />
  <label for="pirate[weight]">Pirate Weight:</label>
  <input type="text" name="pirate[weight]">
    <br />
  <label for="pirate[height]">Pirate Height:</label>
  <input type="text" name="pirate[height]">
   <hr />
  <label for="pirate[ships][][name]">Ship Name:</label><input type="text" name="pirate[ships][][name]" id="ship_name_1"/>
    <br />
  <label for="text" name ="pirate[ships][][type]">Ship Type:</label><input type="text" name="pirate[ships][][type]" id="ship_type_1"/>
   <br />
  <label for="pirate[ships][][booty]">Ship Booty:</label> <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"><br />
    <hr />

  <label for="pirate[ships][][name]">Ship Name:</label><input type="text" name="pirate[ships][][name]" id="ship_name_2"/>
    <br />
  <label for="text" name ="pirate[ships][][type]">Ship Type:</label><input type="text" name="pirate[ships][][type]" id="ship_type_2"/>
    <br />
  <label for="pirate[ships][][booty]">Ship Booty:</label> <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"/>
    <br />
  <button type="submit" value="Submit" name="submit">Submit</button>

    </form>

  </body>
 </head>
</html>
